---
http_interactions:
- request:
    method: get
    uri: http://ajax.googleapis.com/ajax/services/search/video?q=Gary%20Bernhardt%20javascript%20wat&v=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Embedded-Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"responseData": {"results":[{"GsearchResultClass":"GvideoSearch","title":"Gary
        Bernhardt WAT","titleNoFormatting":"Gary Bernhardt WAT","published":"Tue,
        10 Apr 2012 15:44:02 PDT","content":"to funny! if you wana see more from gary
        check www.destroyallsoftware.com","publisher":"www.youtube.com","tbUrl":"http://1.gvt0.com/vi/kXEgk1Hdze0/default.jpg","tbWidth":"320","tbHeight":"240","videoType":"YouTube","url":"http://www.google.com/url?q\u003dhttp://www.youtube.com/watch%3Fv%3DkXEgk1Hdze0\u0026source\u003dvideo\u0026vgc\u003drss\u0026usg\u003dAFQjCNH_Fbb_NTFNhTMEF6S_DYSyaAMfJQ","playUrl":"http://www.youtube.com/v/kXEgk1Hdze0\u0026fs\u003d1\u0026source\u003duds\u0026autoplay\u003d1","rating":"4.97351","duration":"258"},{"GsearchResultClass":"GvideoSearch","title":"Shaky
        cam footage of PhRUG watching WAT","titleNoFormatting":"Shaky cam footage
        of PhRUG watching WAT","published":"Thu, 19 Jan 2012 11:53:02 PST","content":"Shaky
        cam footage of PhRUG watching Gary Bernhardt\u0026#39;s WAT (www.destroyallsoftware.com
        Philippine Ruby Users Group January 2012 Meetup AELogica ...","publisher":"www.youtube.com","tbUrl":"http://1.gvt0.com/vi/IeYVoA6K8SE/default.jpg","tbWidth":"320",[...]
