bot:
    server:   localhost
    port:     6667
    nick:     cinchbot
    channels: ['#channel']
    verbose:  true
redminewatcher:
    server:   https://redmine
    apikey:   5b
    options:  show_changesets=1&show_hudson=1&show_issues=1
    fetchint:   120
webinterface:
    port:     9292
    key: 123456
nagios:
    servers:
        1:
            url:
            timeformat:
            username:
            password:
            description:
        2:
            url:
            timeformat:
            username:
            password:
            description:

