bot:
    server:   localhost
    port:     6667
    nick:     cinchbot
    channels: ['#channel']
    verbose:  true
redmine:
    server:   https://redmine
    apikey:   5b
webinterface:
    port:     9292
    key: 123456

